body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
  }

.demo {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px;
}

.wrapper {
  background-color: beige;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.demo2 {
  background-color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px;
}

.wrapper2 {
  background-color: beige;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 220px;
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  .demo2 {
    flex-direction: column;
  }
  .wrapper2 {
    padding: 10px 20px;
    img {
      width: 100px;
      height: auto;
    }
  }
}